
<div class="col-lg-9 col-sm-8">
    <h3 class="s-title">Últimos Posts del Blog</h3>
    <article class="row entry"  ng-repeat="post in fb_posts">
        <div class="col-lg-1 visible-lg">
            <time datetime="2013-10-10">{[{post.created_time | fb_date | date:"d"}]}<span>{[{post.created_time | fb_date | date:"MMM"}]}</span></time>
        </div>

        <div class="col-md-12 col-lg-11">
            <div class="row entry-wrap" >
                <figure class="col-md-1 entry-thumb">
                    <a ng-href="{[{post.link}]}">
                    </a>
                    <time datetime="2013-10-10" class="hidden-lg">{[{post.created_time | fb_date | date:"d"}]}<span>{[{post.created_time | fb_date | date:"MMM"}]}</span></time>
                </figure>

                <div style="overflow: hidden;" class="col-md-11 entry-content">
                    <div class="col-md-9">
                        <h1 class="entry-title"><a target="_blank" ng-href="{[{post.link}]}">{[{post.story}]}</a></h1>
                        <div class="entry-meta">
                            <span class="entry-categories">Posteado en: <a href="#">fitness</a>, <a href="#
                            ">crossfit</a></span>
                            <p>{[{post.message}]}</p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <img style="display: block;margin: auto;border: 2px solid black;" ng-if="post.picture == null" src="{{ asset("bundles/crossfita6front/pics/blog_1.jpg") }}" alt=""/>
                        <img style="display: block;margin: auto;border: 2px solid black;" ng-if="post.picture != null" ng-src="{[{post.picture}]}" alt=""/>
                        <a style="width:100%;text-align: center;" class="button read-more pull-right" target="_blank" ng-href="{[{post.link}]}">Leer Más</a>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>