<div class="widget promo">
    <div class="promo-inner group" style="background: url({{ asset("bundles/crossfita6front/pics/gimnasio.jpg") }}) no-repeat; background-position-y: -70pxpx;">
        <h3>Apúntate en Diciembre y no pagues matrícula</h3>
        <a class="button read-more" href="contact.html">inscribirme</a>
    </div>
</div>