<div class="widget home-popular-classes">
    <h3 class="s-title">Entrenamientos</h3>
    <div class="row">
        <div class="col-md-3 col-xs-6 item">
            <a href="single-class.html">
                <img src='{{ asset("bundles/crossfita6front/pics/all_levels.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                <div class="item-desc">
                    <h4>Crossfit</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-6 item">
            <a href="single-class.html">
                <img src='{{ asset("bundles/crossfita6front/pics/personal.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                <div class="item-desc">
                    <h4>halterofilia</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-6 item">
            <a href="single-class.html">
                <img src='{{ asset("bundles/crossfita6front/pics/group.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                <div class="item-desc">
                    <h4>endurance</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-6 item">
            <a href="single-class.html">
                <img src='{{ asset("bundles/crossfita6front/pics/gimnasio.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                <div class="item-desc">
                    <h4>El Box</h4>
                </div>
            </a>
        </div>
    </div>
</div>