<div class="widget promo">
    <div class="promo-inner group" style="background: url({{ asset("bundles/crossfita6front/pics/gimnasio.jpg") }}) no-repeat; background-position-y: -70pxpx;">
        <h3>Regístrate y ven a probar totalmente gratis</h3>
        <a class="button read-more" href="{{ url('training') }}">registrarme</a>
    </div>
</div>