{% extends('@CrossfitA6Front/Default/crossfit.html.twig') %}
{% block main %}
    <main id="main" style="padding-bottom: 20px;" class="container">
        <div class="row list dictionary">
            <h2>Diccionario</h2>
            <div class="border-image" class="col-sm-12">
                <p class="col-sm-12">
                    <ul>
                        <li><strong>AMRAP</strong>As Many Reps (sometimes Rounds)as Possible. Tantas repeticiones (o rondas) como sea posible.</li>
                        <li><strong>ATG</strong>Ass to Grass. El Culo al Suelo.</li>
                        <li><strong>BP</strong>Bench press. Press de Banca.</li>
                        <li><strong>BS</strong>Back squat. Sentadilla (con el peso atrás).</li>
                        <li><strong>BW (o BWT)</strong>Body weight. Peso corporal.</li>
                        <li><strong>CFT</strong>CrossFit Total – WOD que consiste en máximo peso en un Peso Muerto, una Sentadilla y un Press de Hombro.</li>
                        <li><strong>CFSB</strong>CrossFit Strength Bias. Un programa desarrollado por Jeff Martin and Darrell White, que se explica aquí. Necesitarás una suscripción al CFJ.</li>
                        <li><strong>CFWU</strong>CrossFit Warm-up. Calentamiento de CrossFit.</li>
                        <li><strong>CLN</strong>Clean. Cargada.</li>
                        <li><strong>C&J</strong>Clean and jerk.</li>
                        <li><strong>C2</strong>Máquina de remo Concept II.</li>
                        <li><strong>DL</strong>Deadlift. Peso Muerto.</li>
                        <li><strong>EOMOM</strong>Every Minute on the Minute. Todos los minutos cada minuto. Un tipo de entrenamiento que busca realizar un número de repeticiones cada minuto el mayor número de minutos que puedas.</li>
                        <li><strong>FS</strong>Front squat. Sentadilla Frontal.</li>
                        <li><strong>GHD</strong>Glute Ham Developer. Aparato para realizar extensiones y flexiones de columna y cadera.</li>
                        <li><strong>GHR(D)</strong>Glute ham raise (developer). Ejercicio de cadena posterior, como una extensión de columna.</li>
                        <li><strong>GHR(D)</strong>Situp. Abdominal realizada con el GHD.</li>
                        <li><strong>GPP</strong>General physical preparedness. Preparación física general, también conocido como fitness.</li>
                        <li><strong>GTG</strong>Grease the Groove, un protocolo para realizar muchas repeticiones sub-máximas de un ejercicio a lo largo del día.</li>
                        <li><strong>GTG</strong>Grease the Groove, un protocolo para realizar muchas repeticiones sub-máximas de un ejercicio a lo largo del día.</li>
                        <li><strong>H2H</strong>Hand to hand; Mano a Mano. Se refiere a las técnicas de “malabares” con kettlebell de Jeff Martone (o al combate).</li>
                        <li><strong>HSPU</strong> Hand stand push up. Fondos verticales. Ponte haciendo el pino (utiliza una pared si es necesario) y flexiona los brazos hasta que la nariz toque el suelo. Después empuja para volver a la posición opiginal.</li>
                        <li><strong>HSQ</strong>Hang squat (clean o snatch). Empieza con la barra “colgada”. Mientras la barra se alza, desciende hasta una sentadilla completa y recíbela en posición de rack. Desde ahí, sube hasta la posición vertical.</li>
                        <li><strong>IF</strong>Intermittent Fasting. Ayuno intermitente.</li>
                        <li><strong>KB</strong>Kettlebell.</li>
                        <li><strong>KTE</strong>Knees to elbows. Rodillas a codos. Similar a TTBs, más abajo.</li>
                        <li><strong>MetCon</strong>Metabolic Conditioning. Acondicionamiento metabólico.</li>
                        <li><strong>MP</strong>Military press. Press militar.</li>
                        <li><strong>MU</strong>Muscle ups.</li>
                        <li><strong>OHS</strong>Overhead squat. Sentadilla profunda realizada mientras los brazos se encajan en un agarre amplio de press por encima (y usualmente tras) de la cabeza.</li>
                        <li><strong>PC</strong>Power clean.</li>
                        <li><strong>Pd</strong>Pood, medida de peso de los kettlebells.</li>
                        <li><strong>PR</strong>Personal record.</li>
                        <li><strong>PP</strong>Push press.</li>
                        <li><strong>PSN</strong>Power snatch.</li>
                        <li><strong>PU</strong>Dominadas, puede que fondos, dependiendo del contexto.</li>
                        <li><strong>Rep</strong>Repetición.</li>
                        <li><strong>Rx’d</strong>Como está prescrito; un WOD realizado tal cual está escrito, sin necesidad de haberlo escalado.</li>
                        <li><strong>RM</strong>repetición Máxima. Tu 1RM es la mayor catidad de peso que puedes levantar en una alzada. Tu 10 RM es el mayor peso que puedes levantar en 10 alzadas.</li>
                        <li><strong>SDHP</strong>Sumo deadlift high pull (peso muerto estilo sumo con tirón alto).</li>
                        <li><strong>Set</strong>Un número de repeticiones, por ejemplo 3 series de 10 repeticiones.</li>
                        <li><strong>SPP</strong>Specific physical preparednesss, preparación física específica, también llamada entrenamiento de habilidades.</li>
                        <li><strong>SN</strong>Snatch.</li>
                        <li><strong>SQ</strong>Sentadilla.</li>
                        <li><strong>SS</strong>Starting Strength; el gran libro de Mark Rippetoe acerca de las bases del entrenamiento de la fuerza. <a href="http://startingstrength.com/">Disponible aquí</a>.</li>
                        <li><strong>Subbed</strong>Substituido.</li>
                        <li><strong>TGU</strong>Alzamiento Turco.</li>
                        <li><strong>TTB</strong>Toes to bar. Colgado de una barra. Flexiona la columna hasta que las puntas de los pies sobrepasen la barra, baja lentamente y repite.</li>
                        <li><strong>WO</strong>algunas veces W/O: Workout, entrenamiento.</li>
                        <li><strong>WOD</strong>Workout of the day, Entrenamiento del Día (EDD).</li>
                        <li><strong>YBF</strong>You’ll Be Fine, Te Pondrás Mejor.</li>
                    </ul>
                </p>
            </div>
        </div>
    </main>
{% endblock %}