{% extends('@CrossfitA6Front/Default/crossfit.html.twig') %}
{% block main %}
    <main id="main" style="padding-bottom: 20px;" class="container">
        <div class="row list ejercicios">
            <h2 style="margin-bottom: 30px">Ejercicios</h2>
            <div class="border-image" class="col-sm-12">
                <div class="col-sm-3">
                    <div class="">
                        <a href="http://gymnasticswod.com/content/la-sentadilla?fbhash=0&fbhash=L9wPED6kVqYrNEUEjBpsP3LXZcEbSQw3shs0iF5yXn0.eyJhbGdvcml0aG0iOiJITUFDLVNIQTI1NiIsImNvZGUiOiJBUUR6ZnJZbkhGLU5PclRLaVJrSlo2d0dRNUZ0c2xPSGdlb1hpQ0NuMEt1M3lubElLbmpRWVFhWTczRXRSTE1DWEplOUFIQk5GY2laSHhGZ1p2Qk11NDJ2VFY0VldtaEtUTVpGa0xkZ0NXVUtwcEZIMVhFekNadV83YkpDV3Qzc2FwNm50UVl3YkFiT0tHc3RYaFlLTEJHRUJIX1JZb1dmYnljdXl4SGVabFV4WndRcnRpLWE4YW5iaVU1dUhJSHduN0ZSNWhXUllsRUc1VTk5U2FFLWZEeG4iLCJpc3N1ZWRfYXQiOjEzNjE0NjU1NDUsInVzZXJfaWQiOiIxMzY2MzAzMTk4In0">Air Squat/Sentadilla al Aire</a>
                   </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Back Extension</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Hip Extension</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Hip-back Extension</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Extensión de Columna</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Extensión de Cadera</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LlItVJRXttw">Extensión de Columna y Cadera</a>
                    </div>
                    <div class="">
                        <a href="https://www.youtube.com/watch?v=bDToQne3UcI">Back Squat (aka Squat)/Sentadilla</a>
                    </div>
                    <div class="">
                        <a href="https://www.youtube.com/watch?v=pc7cOUOGj6w">Ball Slams/Lanzamiento de Balón al Suelo</a>
                    </div>
                    <div class="">
                        <a href="https://www.youtube.com/watch?v=7jTvYAToDBE">Barbell Snatch/Arrancada</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=4qoYbW34tFU">Walking Lunges/Zancadas Dinámicas</a>
                    </div>
                </div>
                <div  class="col-sm-3">
                    <div class="">
                        <a href="https://www.youtube.com/watch?v=QoX_3gV7ywg">Bar Muscle-up/Muscle Up en Barra</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=98bkWnAVbV8">Box Jump Variations/Variantes de Saltos al Cajón</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=21dvQyNiTjM">Burpee Demo</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=yFSBGIPMa9A">Clean & Jerk/Dos Tiempos</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=46cCnuFPG8w">Clean/Cargada</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=DHTAAutmlJY">Dip/Fondos de Tríceps</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=CXBAmglpDlQ">Double Unders/Dobles de Comba</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=Iv-3I0L7rpk">Dumbell Snatch/Arrancada con Mancuerna</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=ACmzz4ju5Zg">Dumbell Split Lifts/Alzamientos con Mancuernas en Tijera</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=tAZaHzd6qAY">Kipping Pull-up/Dominada con Balanceo</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=xPSJ2v9AngM">Front Squat/Sentadilla Frontal</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=e7GBuMK1-b0">Glute-Ham Sit-up/Abdominal en GHD</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=JGhdSLkf-8o">Handstand Push-up/Fondo Vertical</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=Da1axAh815s">Hang Clean/Cargada Colgante</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=bzQJB9XHd5c">Hang Power Clean/Cargada Potente Colgante</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=43qi9DlGUxU">Hang Power Snatch/Arrancada Potente Colgante </a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=XfF30DaqAGU">Hang Snatch/Arrancada Potente</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=39nx2kxSw1c">Heaving Snatch Balance</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=bSZc1Slk6rI">Split Jerk/Jerk con Tijera</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=rJqPgV681Hg">Kettlebell Swings/Balanceos con Kettlebell </a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=kqOgtFcqWbE">Knees to Elbows/Rodillas a Codos</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=LCoq2cTggQQ">L-sit</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=ON5l7xDUVns">Medicine Ball Cleans/Cargadas con Balón Medicinal</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=FQJu2iOsR0M">Muscle-up</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=WZxf2ZgntRg">Overhead Squat/Sentadilla de Arranque</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=7h4r8tWGAKM">Power Snatch/Arrancada Potente</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=RxjY4CggkVA">Pressing Snatch Balance </a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=gTu8QWrLtUM">Shoulder Press, Push Press y Push Jerk</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=DrYjUy1BiI4">Snatch/Arrancada</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=BkRp_0aoLzc">Snatch Balance</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=yt7LZeuLYI8">Thruster</a>
                    </div>
                    <div class="">
                        <a href="http://www.youtube.com/watch?v=z7Yiu8JDXIU">Wall Ball/Lanzamiento de Balón</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}