{% extends('@CrossfitA6Front/Default/index.html.twig') %}
{% block class_body %}{% endblock %}
{% block slideshow %}{% endblock %}
{% block title %}
<div id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Galería</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
    <main id="main" class="container">
        <div class="row list">
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 item">
                <a href="single-staff.html">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <h4>Alice Atkinson</h4>
                        <b>Personal Trainer</b>
                    </div>
                </a>
            </div>
        </div>
    </main>
{% endblock %}