{% extends('@CrossfitA6Front/Default/index.html.twig') %}
{% block class_body %}{% endblock %}
{% block slideshow %}{% endblock %}
{% block title %}
<div id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Entrena con nosotros</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
    <main id="main" class="container">
        <div class="row list">
            <div class="col-sm-12">
                <h1>
                    GO TEAMUP
                </h1>
                <p class="col-sm-9">
                    Para empezar debes crear una cuenta en la pagina de reserva <a href="/"><strong style="color: #ed1968;">GO TEAMUP</strong></a> y elegir el tipo de abono que quieres. A partir de ahí puedes reservar la clase en el horario prefieras y a disfrutar del CrossFit.
                </p>
                <p class="col-sm-2" style="float:right;">
                    <img src="{{ asset('bundles/crossfita6front/pics/goteamup.svg') }}"/>
                </p>
                <h2 class="col-sm-9" style="display: inline-block;">Utiliza los siguientes enlaces para darte de alta:</h2>
            </div>
        </div>
        <div class="row list">
            <div class="col-sm-4 col-xs-6 item">
                <a href="https://goteamup.com/w243120/p/243120-crossfit-a6/memberships/plans/4645/">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <!-- 55€ -->
                        <h4>2 Días/Semana</h4>
                        <b>Sin compromiso</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 item">
                <a href="https://goteamup.com/w243120/p/243120-crossfit-a6/memberships/plans/4646/">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <!-- 70€ -->
                        <h4>3 Días/Semana</h4>
                        <b>Sin compromiso</b>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 item">
                <a href="https://goteamup.com/w243120/p/243120-crossfit-a6/memberships/plans/4438/">
                    <img src="http://placehold.it/700x504" width="700" height="504" alt="Placeholder Image">
                    <div class="item-desc">
                        <!-- 79€ -->
                        <h4>Ilimitado</h4>
                        <b>Sin compromiso</b>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget promo">
                    <div class="promo-inner group" style="background: url('http://placehold.it/300x300') no-repeat">
                        <h3>Bono de 10 sesiones (sin caducidad)</h3>
                        <!-- 80€ -->
                        <a class="button read-more" href="https://goteamup.com/w243120/p/243120-crossfit-a6/memberships/8582/">Comprar bono</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}