
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_text group">
                    <h3 class="widget-title">¿Por que es para mi?</h3>
                    <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus.</p>
                </aside><!-- /widget -->
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_ci_about group">
                    <h3 class="widget-title">Diccionario de crossfit</h3>
                    <div class="widget_about group">
                        <img src="http://placehold.it/100x100" class="alignleft" alt="about me">
                        Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida.
                    </div>
                </aside>
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_ci_twitter_widget group">
                    <h3 class="widget-title">Ejercicios de crossfit</h3>

                    <div class="twitter_update_list">
                        <ul>

                            <li>
                                <span>Nulla at nulla justo, eget luctus tortor. Nulla facilisi.</span>
                                <a class="twitter-time" href="#">hace 11 horas</a>
                            </li>

                            <li>
                                <span>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.</span>
                                <a class="twitter-time" href="#">hace 5 horas</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_search group">
                    <h3 class="widget-title">Buscar</h3>

                    <form action="/" method="get" role="search" class="searchform">
                        <div>
                            <label class="screen-reader-text">Busqueda:    </label>
                            <input type="text" class="s" name="s" value="" placeholder="Search">
                            <input type="submit" value="IR" class="searchsubmit">
                        </div>
                    </form>
                </aside>
                <aside class="widget widget_text group">
                    <h3 class="widget-title">Condiciones legales</h3>
                    <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus.</p>
                </aside><!-- /widget -->
            </div>
        </div>
        <hr/>
        <div class="credits">
            <div class="row">
                <div class="col-sm-6">
                    <p> © 2014 CrossFit A6 - Box de CrossFit en Las Rozas</p>
                </div>

            </div>
        </div>
    </div>
</footer>