
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_text group">
                    <h3 class="widget-title"><a href="{{ path('crossfit') }}">¿Por que es para mi?</a></h3>
                    <p>¿Por qué? Por qué CrossFit está diseñado para ser aplicado a todos los niveles y todas las edades, desde personas con problemas cardiacos hasta deportistas de alto nivel. Una de sus bases radica en el principio de individualización, que sígnifica que cada entrenamiento es único para cada persona. El CrossFit adapta el entrenamiento a las necesidades de cada uno.</p>
                </aside><!-- /widget -->
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_ci_about group">
                    <h3 class="widget-title"><a href="{{ path('diccionario') }}">Diccionario de crossfit</a></h3>
                    <div class="widget_about group">
                        <img width="100" height="120" src="{{ asset('/bundles/crossfita6front/images/diccionario.jpg') }}" class="alignleft" alt="about me">
                        Front squat, Front squat, SDHP, SPP, SQ, Glute Ham Developer... Entiende todos los acrónimos utilizados en CrossFit y YBF.
                    </div>
                </aside>
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_ci_twitter_widget group">
                    <h3 class="widget-title"><a href="{{ path('ejercicios') }}">Ejercicios de crossfit</a></h3>

                    <div class="twitter_update_list">
                        <ul>

                            <li>
                                <span>Te enseñamos en video como realizar todos los ejercicios:</span><span style="text-transform: lowercase;"> OVERHEAD SQUAT/SENTADILLA DE ARRANQUE, POWER SNATCH/ARRANCADA POTENTE, PRESSING SNATCH BALANCE, SHOULDER PRESS, PUSH PRESS Y PUSH JERK, SNATCH/ARRANCADA, SNATCH BALANCE, THRUSTER, WALL BALL/LANZAMIENTO DE BALÓN ...</span>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-sm-3 col-xs-12">
                <aside class="widget widget_search group">
                    <h3 class="widget-title">Buscar</h3>

                    <form action="/" method="get" role="search" class="searchform">
                        <div>
                            <label class="screen-reader-text">Busqueda:    </label>
                            <input type="text" class="s" name="s" value="" placeholder="Search">
                            <input type="submit" value="IR" class="searchsubmit">
                        </div>
                    </form>
                </aside>
                <aside class="widget widget_text group">
                    <h3 class="widget-title">Condiciones legales</h3>
                    <p>Ver condiciones legales en <a href="https://goteamup.com/es/company/terms/">goteamup.com (link)</a></p>
                </aside><!-- /widget -->
            </div>
        </div>
        <hr/>
        <div class="credits">
            <div class="row">
                <div class="col-sm-6">
                    <p> © 2014 CrossFit A6 - Box de CrossFit en Las Rozas</p>
                </div>

            </div>
        </div>
    </div>
</footer>