<div id="mobilemenu" class="mm-menu">
    <ul class="group">
        <li class='current'>
            <a class='current' href="index.html">Inicio</a>
        </li>
        <li>
            <a href="blog.html">Entrana con nosotros</a>
        </li>
        <li>
            <a href="template-staff-3col.html">Horarios y tarifas</a>
        </li>
        <li>
            <a href="contact.html">Contacto</a>
        </li>
    </ul>
</div>