<nav id="nav">
    <ul id="navigation" class="group">
        <li class='current'>
            <a class='current' href="index.html">Inicio</a>
        </li>
        <li>
            <a href="blog.html">Entrena con nosotros</a>
            <ul>
                <li><a href="single.html">Single Article</a></li>
            </ul>
        </li>
        <li>
            <a href="template-staff-3col.html">Horarios y tarifas</a>
            <ul>
                <li><a href="single-staff.html">Single Staff</a></li>
                <li><a href="template-staff-2col.html">Staff 2 Columns</a></li>
                <li><a href="template-staff-3col.html">Staff 3 Columns</a>
                <li><a href="template-staff-4col.html">Staff 4 Columns</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="template-classes-3col.html">Contacto</a>
            <ul>
                <li><a href="single-class.html">Single Class</a></li>
                <li><a href="template-classes-2col.html">Classes 2 Columns</a></li>
                <li><a href="template-classes-3col.html">Classes 3 Columns</a>
                <li><a href="template-classes-4col.html">Classes 4 Columns</a>
                </li>
            </ul>
        </li>
    </ul><!-- #navigation -->
</nav><!-- #nav -->