<div class="col-lg-3 col-sm-4 sidebar">
    <aside class="widget post-type">
        <h3 class="s-title">Nuestros monitores</h3>
        <div class="row">
            <div class="col-sm-12 col-xs-6 item">
                <a href="">
                    <img src='{{ asset("bundles/crossfita6front/pics/lore.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                    <div class="item-desc">
                        <h4>Juan Martin Medina</h4>
                        <b>Personal trainer</b>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-xs-6 item">
                <a href="">
                    <img src='{{ asset("bundles/crossfita6front/pics/espana.jpg") }}' width='700' height='504' alt='Placeholder Image' />
                    <div class="item-desc">
                        <h4>Isaac Morillas</h4>
                        <b>Weight trainer</b>
                    </div>
                </a>
            </div>
        </div>
    </aside>

    <aside class="widget widget_ci_schedule_widget three columns"><h3 class="widget-title"><span>Horario</span></h3>			<table class="opening-hours">
            <tbody><tr>
                <th>Lunes a jueves</th>
                <td>8am - 8pm</td>
            </tr>
            <tr>
                <th>Viernes</th>
                <td>8am - 6pm</td>
            </tr>
            <tr>
                <th>Sábado</th>
                <td>10am - 4pm</td>
            </tr>
            <tr>
                <th>Domingo</th>
                <td>12pm - 2pm</td>
            </tr>
            </tbody></table>
    </aside>
</div>