<div id="slideshow" class="flexslider">
    <ul class="slides">
        <li style="background: url('{{ asset("bundles/crossfita6front/pics/back_home_1.jpg") }}') no-repeat top center;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-lg-5">
                        <div class="sld-info">
                            {# <h3>Ven y pruebate a ti mismo</h3>#}
                            <h3>Oferta mes de diciembre</h3>
                            <a class="button" href="single-class.html">60€ - ilimitado</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background: url('{{ asset("bundles/crossfita6front/pics/back_home_2.jpg") }}') no-repeat top center;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-lg-5">
                        <div class="sld-info">
                            <h3>Ven a conocernos<br><small>Prueba un día gratis</small></h3>
                            <a class="button" href="contact.html">Más Información</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
